div.header {
}

body {
}

div.footer {
}

body h1 {
  font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
  color: inherit;
  padding-left: 40px;
  margin-bottom: -5px;
}

div.p1 {
  background-color: #111111;
  border-left: 1px solid #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid black;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: -8px;
}

body {
  color: grey;
  background-color: black;
}
