# Do not remove this top line.

source_directory =  ../demo/source/
target_directory =  ../demo/target/

# -rebuilt.html  will automatically be appended and used, after the search/replace.
header =  ../demo/header.html
footer =  ../demo/footer.html

site_name  =  <div class="top-t1">M</div>&nbsp; <div class="top-t2">ythryl Compiled Website</div>
site_tagline =  <div class="top-t3">Demo Website</div>
# Used for the top-right search bar.
site_url =  http://example.com

copyright = <small>(copyright information not set)</small>


# You'll have to create your own account and set things up with that counter provider.  Then copy-paste the code they give you.
counter_code = {{{
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=xxxxxxx; 
var sc_invisible=0; 
var sc_security="xxxxxxxx"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="tumblr
statistics" href="http://statcounter.com/tumblr/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/xxxxxxx/x/xxxxxxxx/x/"
alt="tumblr statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
}}}

