# Do not remove this top line.
# This is an example that's not used by the code at the moment.  I need to adjust the code to work with Mythryl being launched from where it's at.

source_directory =  ../source/
target_directory =  ../live/

# -rebuilt.html  will automatically be appended and used, after the search/replace.
header =  ./my/header.html
footer =  ./my/footer.html

site_name  =  <div class="top-t1">M</div>&nbsp; <div class="top-t2">ythryl Compiled Website</div>
site_tagline =  <div class="top-t3">Demo Website</div>
